**/node_modules
**/._*
**/.DS_Store
**/dist
.idea
.env
**/*.env
**/cache
scws-1.2.1
zhparser

packages/qq/data
packages/qq/logs
packages/qq/go-cqhttp
packages/qq/config.yml
packages/qq/device.json
packages/qq/session.token

packages/panel-ui/api

lerna-debug.log

docs/.vitepress/dist
docs/.vitepress/cache
